@import '../variables/variables';

@mixin btn($area){
    width: $area;
    height: $area;
    background-color: $background-color;
    border:none;
    border-radius: 50%;
    cursor: pointer;
}

@mixin btn-link {
    background-color: rgb(255, 255, 255, 0);
    color: white;
    font-size: 18px;
    border: none;
    cursor: pointer;
    padding: 0;
}

@mixin circle ($area, $border, $background){
    height: $area;
    width: $area;
    border-radius: 50%;
    border:$border;
    background-color: $background;
    color: white;
    cursor: pointer;
    &:hover{
        background-color: white;
        color: black;
    }
}

