@import '../layout/layout.scss';
@import '../components/button.scss';

.container-home{
    @include cont('assets/home/background-home-desktop.jpg');
    .row{
        margin-top: 15rem;
    }
}

h1{
    font-family: $font-serif;
    text-transform: uppercase;
    font-size: 25px;
    .big-space{
        font-size: 150px;
    }
}

.btn-home{
    @include btn(14rem);
    text-transform: uppercase;
    font-size: 30px;
    font-family: $font-serif;
}
